<h1><%= @store_count %> Total Stores </h1>

<table class='results'>
  <th>
    <td>Name</td>
    <td>City</td>
    <td>Distance</td>
    <td>Phone Number</td>
    <td>Store Type</td>
  </th>
  <% @stores.each do |store| %>
  <tr class='store'>
    <td><%= store.full_name %></td>
    <td><%= store.city %></td>
    <td><%= store.distance %></td>
    <td><%= store.phone_number %></td>
    <td><%= store.type %></td>
  </tr>
  <% end %>
</table>
