<ul class="single-store-results">
  <li>Name: <%= @store.name %></li>
  <li>Store Type: <%= @store.type %></li>
  <li>Address: <%= @store.address %></li>
  <li>City: <%= @store.city %></li>
  <li>State: <%= @store.state %></li>
  <li>Zip Code: <%= @store.zip_code %></li>
  <li>Hours: <%= @store.hours %></li>
</ul>
